body {
  font-family: "Winner Sans Cond Regular";
}

/* .image {
  width: 15rem;
  display: block;
  margin: 5rem auto;
} */

.koko {
  background: rgb(182, 246, 157);
}

.brown {
  background: rgb(103, 203, 243);
}

.semsemContainer {
  color: red;
  color: #352e66;
  color: #269540;
}

.logo-container {
  /* position: relative; */
  display: flex;
  align-items: center;
}

.logo {
  width: 15rem;
}

.heading {
  font-size: 2rem;
  letter-spacing: 0.75rem;
  font-weight: 600;
  margin: 1.5rem 0 0 1rem;
  /* position: fixed; */
  /* top: 1rem; */
  /* left: 0; */
  /* margin: 10rem 0rem 3rem 16rem; */
  /* text-align: center; */
  color: #269540;
}
