body {
  font-family: "Winner Sans Cond Regular";
}

.image {
  width: 25rem;
  /* display: block; */
  margin: 5rem auto;
}

.koko {
  background: rgb(182, 246, 157);
}

.brown {
  background: rgb(103, 203, 243);
}

.semsemContainer {
  color: red;
  color: #352e66;
  color: #269540;
}

.logo-container {
  position: relative;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* background: red; */
}

.heading {
  font-size: 3rem;
  letter-spacing: 0.75rem;
  font-weight: 600;
  position: fixed;
  top: 1rem;
  left: 0;
  margin: 5rem 0rem 3rem 2rem;
  text-align: center;
  color: #269540;
}
