body {
  font-family: "Winner Sans Cond Regular";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 15rem;
  display: block;
  margin: 5rem auto;
}

.koko {
  background: rgb(182, 246, 157);
}

.brown {
  background: rgb(103, 203, 243);
}

.semsemContainer {
  color: red;
  color: #352e66;
  color: #269540;
}

.logo-container {
  background: transparent;
  display: flex;
  align-items: center;
}

.logo {
  width: 15rem;
}

.heading {
  font-size: 2.1rem;
  letter-spacing: 3px;
  margin-left: 8px;
  color: #269540;
}

.pres {
  rotate: -8deg;
}

.container {
  background: red;
  height: 50rem;
  width: 100%;
}

.penguin {
  color: #7c0c0c;
}
